@import "tailwindcss";
@plugin "daisyui";


@plugin "daisyui/theme" {
  name: "dark";
  default: true;
  prefersdark: true;
  color-scheme: "dark";
  --color-base-100: oklch(26% 0 0);
  --color-base-200: oklch(20% 0 0);
  --color-base-300: oklch(14% 0 0);
  --root-bg: oklch(14% 0 0);
  --color-base-content: oklch(96% 0.001 286.375);
  --color-primary: #c72c27;
  --color-primary-content: oklch(28% 0.066 53.813);
  --color-secondary: #c72c27;
  --color-secondary-content: oklch(28% 0.066 53.813);
  --color-accent: #c72c27;
  --color-accent-content: oklch(29% 0.066 243.157);
  --color-neutral: oklch(0.000 0.000 0.0);
  --color-neutral-content: oklch(98% 0 0);
  --color-info: #2780c2;
  --color-info-content: oklch(29% 0.066 243.157);
  --color-success: #27c727;
  --color-success-content: oklch(27% 0.046 192.524);
  --color-warning: oklch(82% 0.189 84.429);
  --color-warning-content: oklch(27% 0.077 45.635);
  --color-error: oklch(71% 0.202 349.761);
  --color-error-content: oklch(28% 0.109 3.907);
  --radius-selector: 0.25rem;
  --radius-field: 0.25rem;
  --radius-box: 0.25rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1.5px;
  --depth: 1;
  --noise: 1;
}

